.dev-assertive {
	background: #ca2727 !important;
}

.dev-positive {
	background: #0052a5 !important;
}

.dev-energy {
	background: #ff7200 !important;
}

.dev-color-assertive {
	color: #ca2727;
}

.dev-color-positive {
	color: #0052a5;
}

.dev-color-energy {
	color: #ff7200;
}
