.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-justify {
	text-align: justify;
	text-align-last: center;
}

.text-truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
}

.text-bold {
	font-weight: 600;
}

.text-positive {
	color: #387ef5;
}

.text-calm {
	color: #11c1f3;
}

.text-balanced {
	color: #33cd5f;
}

.text-energized {
	color: #ffc900;
}

.text-assertive {
	color: #ef473a;
}

.text-royal {
	color: #886aea;
}

.text-dark {
	color: #444;
}

.text-light {
	color: #fafafa;
}

.dev-bar {
	background: #ccc;
	padding: 10px;
	border-radius: 2px;
}

.dev-bar.padding {
	padding: 10px;
}

.dev-bar.light {
	background: #fafafa;
}

.dev-bar.dark {
	background: #444;
}

.dev-bar.energized {
	background: #ffc900;
}

.dev-bar.balanced {
	background: #33cd5f;
}

.dev-bar.positive {
	background: #387ef5;
}

.dev-bar.calm {
	background: #11c1f3;
}

.dev-bar.royal {
	background: #886aea;
}

.dev-bar.assertive {
	background: #ef473a;
}
