.dev-nav {
	width: 100%;
	overflow: hidden;
	background: #efefef;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.dev-nav .nav-header {
	display: inline-block;
	color: #222;
	font-size: 19px;
	float: left;
}

.dev-nav .nav-header a {
	text-decoration: none;
	padding: 10px 15px;
	display: inline-table;
	color: #333;
}

.dev-nav .nav-header a:active {
	color: #333;
}

.dev-nav .nav-header:hover {
	background: #e5e5e5
}

.dev-nav .nav-content {
	display: inline-block;
	float: right;
}

.dev-nav .nav-content .dev-list ul {
	margin: 0px;
	padding: 0px;
}

.dev-nav .nav-content .dev-list li {
	display: inline-table;
	height: 100%;
	padding: 12px 0px;
}

.dev-nav .nav-content .dev-list li:hover {
	background: #e5e5e5
}

.dev-nav .nav-content .dev-list a {
	overflow: hidden;
	height: 100%;
	padding: 12px 15px;
}

