.dev-panel {
	width: 100%;
	overflow: hidden;
	padding: 0px !important;
	margin: 0px !important;
}

.dev-panel .panel-header {
	padding: 10px 15px;
	background: #efefef;
	color: #222;
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
}

.dev-panel .panel-content {
	padding: 15px 15px;
	border: 1px solid #ededed;
}

.panel-images div.flex {
	display: flex;
}

.panel-images div.flex > div {
	height: 150px;
	float: left;
	background-position: left !important;
	background-size: cover !important;
	background-origin: content-box !important;
	background-repeat: no-repeat !important;
	border: 2px solid #fff;
	-webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 1; /* IE 10 */
	flex: 1;
}

.dev-panel .panel-images > div:first-child{
	height: 300px;
	background-position: left !important;
	background-size: cover !important;
	background-origin: content-box !important;
	background-repeat: no-repeat !important;
	border: 2px solid #fff;
	position: relative;
}

.panel-images .panel-image {
	cursor: pointer;
	 -webkit-transition: 200ms; /* Safari */
    transition: 200ms;
}

.panel-images .panel-image:hover {
	opacity: 0.8
}

.panel-content .panel-avatar {
	overflow: hidden;
}

.panel-avatar .panel-avatar-img {
	width: 40px;
	height: 40px;
	border-radius: 2px;
	background-position: left !important;
	background-size: cover !important;
	background-origin: content-box !important;
	background-repeat: no-repeat !important;
	display: inline-block;
}

.panel-avatar .panel-avatar-title {
	display: inline-block;
    vertical-align: top;
    margin-left: 5px;
}

.panel-avatar .panel-avatar-title p {
	padding: 0;
	margin: 0;
}
.panel-avatar .panel-avatar-title p:last-child {
	font-size: 12px
}

.dev-panel .panel-content > p {
	margin: 10px 0;
}

.dev-panel .panel-content > p:first-child {
	margin-top: 0px;
}

.dev-panel .panel-content > p:last-child {
	margin-bottom: 0px;
}

.dev-panel .panel-header.light {
	background: #fafafa;
}

.dev-panel .panel-header.dark {
	background: #444;
}

.dev-panel .panel-header.energized {
	background: #ffc900;
}

.dev-panel .panel-header.balanced {
	background: #33cd5f;
}

.dev-panel .panel-header.positive {
	background: #387ef5;
}

.dev-panel .panel-header.calm {
	background: #11c1f3;
}

.dev-panel .panel-header.royal {
	background: #886aea;
}

.dev-panel .panel-header.assertive {
	background: #ef473a;
}
