.dev-input {
	padding: 7px 10px;
	border-radius: 4px;
	border: 1px solid  #ccc;
	outline: none;
	width: 100%;
	position: relative;
	box-sizing : border-box;
}

.dev-input:focus {
	box-shadow: 1px 1px 5px 0px #ccc;
}

.input-icon {
	position: relative;	
}

.input-icon i {
	color: #333;
	position: absolute;
	right: 8px;
	top: 6px;
	z-index: 5;
}

.input-icon i.button {
	color: #333;
	padding: 6px;
	padding-left: 2px;
	border: none;
	right: 1px;
	top: 1px;
	bottom: 1px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	z-index: 5;
}

.input-icon .dev-input {
	padding-right: 25px;
}